@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<h4>@Model.Name</h4>

<ul>
    <li>
        <p> Genre:<span>@Model.Genre.Name</span></p>


    </li>
    
    <li>
        <p>Release-Date<span>-@Model.ReleasedDate.ToLongDateString()</span></p>


    </li>

    <li>
        <p> Added To Stock On:<span>@Model.AddedDate.ToLongDateString()</span></p>


    </li>

    <li>
        <p>Number in Stock<span>=@Model.NumberInStock</span></p>

    </li>
</ul>


