@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Movies</h1>
<ul>
    @foreach (var m in Model.Movies)
    {
        <li>@m.Name</li>
    }

</ul>


